<div class="flex flex-col justify-center items-center">
    <img src="assets/images/query-optimization 2.png" alt="query-optimization" class="w-80" />
    <div class="font-bold text-4xl mt-3">Your Database, Just Faster™</div>
    <div class="font-bold text-xl mt-1">SQL query optimization and database observability, powered by AI</div>
    <a [routerLink]="['/query']"
        class="font-bold text-lg bg-red-500 text-white py-3 px-5 mt-4 rounded-lg hover:bg-red-400 focus:ring-4 focus:ring-red-500">Start
        Optimizing Now</a>
</div>